<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
        <meta charset="UTF-8">
        <title>My Website - About</title> 
    </head>
    <body>
        <img src="{{url_for('static',filename='chejamong.jpg')}}" width="4000" length="1500" class="center"/>
        <h1>Jillian Budd</h1>
        <p>A Second-Year Student at UWI. Aiming to get a job 
            in Software Development. Would like to one day
            make her own game, and have it be succesful.
        </p>
    </body>
</html>